<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <% include ../partial/header%>
    <main>
        <div class="container-fluid mt-5">
            <h2 style="margin-top: 5%; margin-left: 3%">Edit Project</h2>
            <hr>
        </div>
        <div class="container">
            <form action="/projects/update/<%= projectid %>" method="POST">
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" placeholder="Name Project" name="name"
                            value="<%= name %>">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">Members</div>
                    <div class="col-sm-10">
                        <% users.forEach((item) => { %>
                        <div class="custom-control custom-checkbox my-1 mr-sm-2">
                            <input type="checkbox" class="custom-control-input" id="customControlInline<%=item.userid%>"
                                name="member" value="<%= item.userid%>, '<%= item.roles %>'" <%= members.includes(item.userid)  ? ' checked': ''%>>
                            <label class="custom-control-label"
                                for="customControlInline<%=item.userid%>"><%= item.firstname %> <%= item.lastname %></label>
                        </div>
                        <% })%>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </main>

</body>

</html>